*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 80px;

}
body{
	overflow-x:hidden; 
}

.logo{
	width: 22.5%;
	height: 80px;
	display: inline-block;
	position: relative;
}

h1{

   color:#242F51;
   position: absolute;
   bottom: 10px;
   right: 0;

}

h1>span{
   color:#FCAE61;
}

.menu{
	width: 68%;
	height: 80px;
	display: inline-block;
	position: relative;

}

.nav-bar{
	width: 66%;
	height: 40px;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.nav-items>li{
	display: inline-block;
	list-style: none;
	margin-left: 15px;
	opacity: 0.9;

}
.nav-items>li:last-child{
	display: inline-block;
	list-style: none;
	margin-left: 15px;
	background: blue;
	border-radius: 20px;
	padding: 10px;
	
}

.nav-items>li>a{
font-size: 17px;
color: black;
text-decoration: none;
}

.about{
	width: 100%;
	height: 800px;
}

.continer{

	width: 56%;
	height: 690px;
	margin: 0 auto;
	position: relative;
}

.abotinfo{
	width: 60%;
	height: 400px;
    position: absolute;
	left: 0;
	top: 135px;
}

.abotimg{
	width: 40%;
	height: 630px;
	position: absolute;
	right: 0;
	top: 20px;
}

.approve>span{
font-size: 15px;
position: relative;

}

.spansmark{
	background: #E1E9EC;
	padding: 10px;
	border-radius: 18px;
	text-indent: 25px;
	display: inline-block;
	width: 200px;
	position: absolute;

}

.iconsabout{
	background: #E1E9EC;
	padding: 10px;
	border-radius: 18px;
	position: absolute;
	z-index:1;
}

.information{
	width: 100%;
	height: 186px;

position: relative;
}

.information>h3{
position: absolute;
top: 21%;
font-size: 4em;
color: #242F51;
}

.productivity{
	display: inline-block;
	
	
}

.productivity>p{
	position: absolute;
	display: inline-block;
	bottom: 40%;
	font-family: cursive;
	opacity: 0.7;
}

.demovideo{
	position: absolute;
	bottom: 27%;


}

.demo>li{
	display: inline-block;
	margin-right: 10px;
}

.demotry{
	background: blue;
	color: white;
	padding: 13px;
	border-radius: 20px;
	font-weight: bold;
}

.demo>li>a{
	text-decoration: none;
}

.smartphone{
    width: 367px;
    height: 650px;	
}

.companys{
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.hcompany{
	display: block;
	text-align: center;
	position: relative;
	font-family: cursive;
	opacity: 0.7;
}

.imgcompanies{
	width:900px;
	height: 70px;
	position: absolute;
	left: 19%;
	margin: 15px;
}


.apps{
	width: 100%;
	height: 833px;
	position: relative;
}

.appsdiv{
	width: 66%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.divsmartphone2{
	width: 40%;
	height: 680px;
	position: absolute;
	
}

.smartphone2{
	width: 473px;
	height: 626px;
	position: absolute;
	top: 52px;	
}

.awesomeappsdiv{
	width: 59%;
	height: 680px;
	position: absolute;
	right: 0;
}

.childawesomediv{
	width: 70%;
	height: 131px;
	position: absolute;
	left: 80px;
	top: 103px;
}

.appsh3{
	font-size: 30px;
	color: #242F51;
}

.childawesomediv>p{
	font-family: cursive;
	opacity: 0.7;
	font-size: 16px;
}

.secondchilddiv{
	width: 70%;
    height: 100px;
    position: absolute;
    left: 80px;
    top: 291px;

}

.speedimgdiv{
	width: 20%;
	height: 100px;
	position: absolute;
}

.speedimg{
	width: 58px;
    height: 48px;
    margin: 25px auto;
}

.fastdiv{
	width: 79%;
	height: 100px;
	position: absolute;
	right: 0;
}

.fastdiv>h4{
	color: #F55767;
}

.fastdiv>p{
	font-family: cursive;
	font-size: 14px;
	opacity: 0.7;
}

.thirdchilddiv{
	width: 70%;
    height: 100px;
    position: absolute;
    left: 80px;
    bottom: 146px;
}

.prototypeimgdiv{
	width: 20%;
	height: 100px;
	position: absolute;
}

.prototypeimg{
	width: 58px;
    height: 48px;
    margin: 25px auto;
}

.prototypediv{
	width: 79%;
	height: 100px;
	position: absolute;
	right: 0;
}

.prototypediv>h4{
	color: blue;
}

.prototypediv>p{
	font-family: cursive;
	font-size: 14px;
	opacity: 0.7;
}

.forchilddiv{
	width: 70%;
    height: 100px;
    position: absolute;
    left: 80px;
    bottom: 0;
}

.editingimgdiv{
	width: 20%;
	height: 100px;
	position: absolute;
}

.editingimg{
	width: 58px;
    height: 48px;
    margin: 25px auto;
}

.editingdiv{
	width: 79%;
	height: 100px;
	position: absolute;
	right: 0;
}

.editingdiv>h4{
	color: green;
}

.editingdiv>p{
	font-family: cursive;
	font-size: 14px;
	opacity: 0.7;
}

.jackpots{
	width: 60%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.jackpotdiv{
	width: 100%;
	height: 200px;
	position: relative;
}

.childjackpotdiv{
	width: 48%;
	height: 200px;
	position: absolute;
}

.childjackpotdiv>h4{
	font-size: 40px;
	color: #242F51;
}

.verticalline{
	border-left: 1px solid black;
  	height: 144px;
  	position: absolute;
  	left: 45%;
  	opacity: 0.5;
}

.secondjackpotdiv{
	width: 48%;
	height: 200px;
	position: absolute;
	right: 0;
}

.secondjackpotdiv>p{
	font-family: cursive;
	opacity: 0.7;
	margin: 43px auto;
}

.payouts{
	width: 70%;
	height: 230px;
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-right: auto;
	margin-left: auto;
}

.payouts > div:first-child {
 	width: 272px;
    height: 232px;
}

.payouts > div:nth-child(2){
	width: 272px;
    height: 232px;
}

.payouts > div:last-child{
	width: 272px;
    height: 232px;
}

.payoutsimg{
	width: 80px;
	height: 80px;
	margin-left: 20px;
}

.payouts p {
	font-family: cursive;
	font-size: 13px;
	margin-left: 30px;
	opacity: 0.7;
}

.design {
	width: 100%;
	height: 750px;
	display: flex;
}

.design > div:first-child {
	width: 50%;
	height: 600px;
	position: relative;
}

.design > div:last-child {
	width: 50%;
	height: 600px;
}

.javaimg {
	width: 500px;
    height: 500px;
    position: absolute;
    right: 80px;
    top: 100px;
}

.design  h3 {
	font-size: 45px;
	margin-top: 200px;
}

.design p{
	font-family: cursive;
	word-spacing: 10px;
	opacity: 0.6;
}

.learndiv{
	width: 100px;
	height: 45px;
	background-color: blue;
	border-radius: 40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.design span {
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.design span:hover{
	cursor: pointer;
}
